@import url("./loader.css");

body {
  background: black;
  color: white;
  padding: 8px;
}
.player {
  font-size: 0;
  height: 24px;
  line-height: 24px;
  white-space: nowrap;
}
.id, .name, .time, .gauge {
  display: inline-block;
  font-size: 18px;
}
.id {
  margin-right: 10px;
  width: 15px;
}
.name {
  margin-right: 10px;
  width: 85px;
  overflow: hidden;
  vertical-align: top;
}
.time {
  width: 65px;
  margin-right: 10px;
}
.gauge {
  margin-right: 10px;
  position: relative;
  vertical-align: top;
  height: 16px;
  top: 4px;
  background-color: gray;
}
